.body-header {
  background: #fff;
  padding: 0;
}

.body-container {
  height: 100vh;
}

.body-content {
  margin: 8px 16px 24px 16px;
  padding: 24px;
  background: #fff;
  min-height: 280px
}

.body-breadcrumb {
  margin: 16px;
}

.body-footer {
  a {
    color: rgba(0, 0, 0, 0.65);
  }
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;

  &:hover {
    color: #1890ff;
  }
}

.logo {
  height: 64px;
  background-color: #002140;
  background-size: 200px 64px;
}