.detail-container {
  .ant-form-item {
    margin-bottom: 0;

    &.fn-fl, &.fn-fr {
      width: 48%;
    }
  }

  .ant-form-item-control {
    line-height: 1;
  }

  .ant-select {
    display: block;
  }

  .ant-calendar-picker {
    display: block;
  }

  .ant-btn {
    margin-top: 20px;
    color: #40a9ff;
    border-color: #40a9ff;

    &:hover {
      background-color: rgba(64, 169, 255, 0.2);
    }
  }

  .ant-btn-primary {
    color: #fff;
    background-color: #1890ff;

    &:hover {
      background-color: #40a9ff;
    }
  }

  .btn-container {
    padding: 0 24px;
    height: 72px;
    width: 100%;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;

    &.btn-2 {
      height: 124px;
    }
  }

  .avatar-container {
    display: flex;
    flex-direction: row;

    p {
      margin-left: 10px;
      line-height: 50px;
      margin-right: auto;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    button {
      margin-top: 9px;
    }
  }
}

.ant-drawer-content {
  padding-bottom: 72px;
}

.ant-drawer-content-wrapper {
  width: 400px !important;
}

.ant-drawer-wrapper-body {
  &::-webkit-scrollbar {
    width: 5px;
    height: 1px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #40a9ff;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #fff;
  }
}

.editor-wrapper {
  border: 1px solid #F1F1F1;
  height: 400px;

  .rdw-editor-main {
    height: 290px;
  }

  .public-DraftEditor-content {
    padding: 0 20px;
  }

  .rdw-colorpicker-modal {
    width: 210px;
    height: 261px;
  }

  .rdw-colorpicker-modal-options {
    overflow: auto;
  }

  .rdw-dropdown-wrapper, .rdw-dropdown-optionwrapper, .rdw-image-modal-btn {
    &:hover {
      box-shadow: none;
    }
  }

  .rdw-image-modal-btn {
    line-height: 30px;
  }

  .rdw-block-dropdown {
    width: 102px;
  }

  .rdw-image-modal, .rdw-emoji-modal {
    left: -70px;
  }

  .rdw-emoji-modal {
    width: 223px;
  }

  .rdw-fontfamily-optionwrapper {
    width: 114px;
  }

  .rdw-editor-toolbar {
    border: none;
  }

  .rdw-inline-wrapper {
    div:nth-child(6), div:nth-child(7) {
      display: none;
    }
  }

  .rdw-list-wrapper {
    div:nth-child(3), div:nth-child(4) {
      display: none;
    }
  }

  .rdw-embedded-wrapper {
    display: none;
  }
}