.detail-container {
  .ant-form-item {
    margin-bottom: 0;
  }

  .ant-select {
    display: block;
  }

  .ant-calendar-picker {
    display: block;
  }
}

.ant-drawer-wrapper-body {
  &::-webkit-scrollbar {
    width: 5px;
    height: 1px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #40a9ff;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #fff;
  }
}