.ant-table-body {
  .ant-btn {
    height: 24px;
  }

  .ant-btn-danger {
    color: #ff4d4f;
    background-color: #fff;
    border-color: #ff4d4f;

    &:hover {
      color: #fff;
      background-color: #ff4d4f;
    }
  }
}

.btn-container {
  .ant-btn {
    height: 44px;
  }
}